### Import Required Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.10/dist-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

### Load the Data

In [2]:
df = pd.read_csv('./Pro3.csv')
df

,airline,overall,traveller_type,cabin,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Customer_reviews_nlp
0,71,7,Business,Economy Class,4.0,5.0,4.0,4,2,4,1,1
1,71,2,Family Leisure,Economy Class,4.0,1.0,1.0,1,1,1,0,1
2,71,3,Business,Economy Class,1.0,4.0,1.0,3,1,2,0,1
3,71,10,Solo Leisure,Economy Class,4.0,5.0,5.0,5,5,5,1,1
4,71,1,Solo Leisure,Economy Class,1.0,1.0,1.0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65942,72,5,Couple Leisure,Economy Class,3.0,NaN,NaN,1,5,2,0,1
65943,72,5,Couple Leisure,Business Class,1.0,NaN,NaN,3,2,2,0,1
65944,72,4,Solo Leisure,Business Class,4.0,NaN,NaN,2,3,3,0,1
65945,72,7,Couple Leisure,Business Class,4.0,NaN,NaN,2,4,3,0,0
65946,72,4,Solo Leisure,Economy Class,1.0,NaN,NaN,4,1,2,0,1

In [3]:
df.isna().sum()

airline                     0
overall                     0
traveller_type              0
cabin                       0
seat_comfort                0
cabin_service            5232
food_bev                13339
entertainment               0
ground_service              0
value_for_money             0
recommended                 0
Customer_reviews_nlp        0
dtype: int64

In [4]:
df['cabin_service'].value_counts()

5.0    18426
1.0    14660
4.0    11428
3.0     8887
2.0     7314
Name: cabin_service, dtype: int64

In [16]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin_service'].isna()], size=1047, replace=True)

# filling a constat value
fill_value = 1
df.loc[mask, 'cabin_service'] = fill_value

In [6]:
df['cabin_service'].isna().sum()

4277

In [18]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin_service'].isna()], size=1047, replace=True)

# filling a constat value
fill_value1 = 2
df.loc[mask, 'cabin_service'] = fill_value1

In [8]:
df['cabin_service'].isna().sum()

3351

In [9]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin_service'].isna()], size=1047, replace=True)

# filling a constat value
fill_value2 = 3
df.loc[mask, 'cabin_service'] = fill_value2

In [10]:
df['cabin_service'].isna().sum()

2445

In [11]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin_service'].isna()], size=1047, replace=True)

# filling a constat value
fill_value3 = 4
df.loc[mask, 'cabin_service'] = fill_value3

In [15]:
df['cabin_service'].isna().sum()

1628

In [14]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin_service'].isna()], size=1047, replace=True)

# filling a constat value
fill_value4 = 5
df.loc[mask, 'cabin_service'] = fill_value4

In [19]:
df['cabin_service'].isna().sum()

0

In [20]:
df.to_csv('Pro4.csv', index=False)