### Import Required Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.10/dist-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

### Load the Data

In [3]:
df = pd.read_csv('./Pro1.csv')
df

,airline,overall,traveller_type,cabin,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Customer_reviews_nlp
0,71,7,Business,Economy Class,4.0,5.0,4.0,4,2,4,1,1
1,71,2,Family Leisure,Economy Class,4.0,1.0,1.0,1,1,1,0,1
2,71,3,Business,Economy Class,1.0,4.0,1.0,3,1,2,0,1
3,71,10,Solo Leisure,Economy Class,4.0,5.0,5.0,5,5,5,1,1
4,71,1,Solo Leisure,Economy Class,1.0,1.0,1.0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65942,72,5,Couple Leisure,NaN,NaN,NaN,NaN,1,5,2,0,1
65943,72,5,Couple Leisure,NaN,NaN,NaN,NaN,3,2,2,0,1
65944,72,4,Solo Leisure,NaN,NaN,NaN,NaN,2,3,3,0,1
65945,72,7,Couple Leisure,NaN,NaN,NaN,NaN,2,4,3,0,0
65946,72,4,Solo Leisure,NaN,NaN,NaN,NaN,4,1,2,0,1

In [4]:
df['cabin'].isna().sum()

187

In [6]:
df['cabin'].value_counts()

Economy Class      48583
Business Class     11325
Premium Economy     3335
First Class         2517
Name: cabin, dtype: int64

In [15]:
# Generate mask of 187 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin'].isna()], size=47, replace=True)

# filling a constat value
fill_value_1 = "Economy Class"
df.loc[mask, 'cabin'] = fill_value_1

In [8]:
df['cabin'].isna().sum()

147

In [17]:
# Generate mask of 187 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin'].isna()], size=47, replace=True)

# filling a constat value
fill_value_2 = "Business Class"
df.loc[mask, 'cabin'] = fill_value_2

In [10]:
df['cabin'].isna().sum()

109

In [11]:
# Generate mask of 187 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin'].isna()], size=47, replace=True)

# filling a constat value
fill_value_3 = "Premium Economy"
df.loc[mask, 'cabin'] = fill_value_3

In [12]:
df['cabin'].isna().sum()

74

In [13]:
# Generate mask of 187 random positions where NaN values occur
mask = np.random.choice(df.index[df['cabin'].isna()], size=47, replace=True)

# filling a constat value
fill_value_4 = "First Class"
df.loc[mask, 'cabin'] = fill_value_4

In [18]:
df['cabin'].isna().sum()

0

In [19]:
df.to_csv('Pro2.csv', index=False)