### Import Required Packages

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Data

In [5]:
df = pd.read_csv('./Pro4.csv')
df

,airline,overall,traveller_type,cabin,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Customer_reviews_nlp
0,71,7,Business,Economy Class,4.0,5.0,4.0,4,2,4,1,1
1,71,2,Family Leisure,Economy Class,4.0,1.0,1.0,1,1,1,0,1
2,71,3,Business,Economy Class,1.0,4.0,1.0,3,1,2,0,1
3,71,10,Solo Leisure,Economy Class,4.0,5.0,5.0,5,5,5,1,1
4,71,1,Solo Leisure,Economy Class,1.0,1.0,1.0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65942,72,5,Couple Leisure,Economy Class,3.0,5.0,NaN,1,5,2,0,1
65943,72,5,Couple Leisure,Business Class,1.0,5.0,NaN,3,2,2,0,1
65944,72,4,Solo Leisure,Business Class,4.0,4.0,NaN,2,3,3,0,1
65945,72,7,Couple Leisure,Business Class,4.0,1.0,NaN,2,4,3,0,0
65946,72,4,Solo Leisure,Economy Class,1.0,1.0,NaN,4,1,2,0,1

In [3]:
df.isna().sum()

airline                     0
overall                     0
traveller_type              0
cabin                       0
seat_comfort                0
cabin_service               0
food_bev                13339
entertainment               0
ground_service              0
value_for_money             0
recommended                 0
Customer_reviews_nlp        0
dtype: int64

In [4]:
df['food_bev'].value_counts()

1.0    14440
4.0    11264
5.0     9955
3.0     9824
2.0     7125
Name: food_bev, dtype: int64

In [15]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['food_bev'].isna()], size=2668, replace=True)

# filling a constat value
fill_value = 1.0
df.loc[mask, 'food_bev'] = fill_value

In [6]:
df['food_bev'].isna().sum()

10940

In [7]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['food_bev'].isna()], size=2668, replace=True)

# filling a constat value
fill_value1 = 2.0
df.loc[mask, 'food_bev'] = fill_value1

In [8]:
df['food_bev'].isna().sum()

8572

In [9]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['food_bev'].isna()], size=2668, replace=True)

# filling a constat value
fill_value2 = 3.0
df.loc[mask, 'food_bev'] = fill_value2

In [10]:
df['food_bev'].isna().sum()

6322

In [17]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['food_bev'].isna()], size=2668, replace=True)

# filling a constat value
fill_value3 = 4.0
df.loc[mask, 'food_bev'] = fill_value3

In [12]:
df['food_bev'].isna().sum()

4147

In [20]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['food_bev'].isna()], size=2668, replace=True)

# filling a constat value
fill_value4 = 5.0
df.loc[mask, 'food_bev'] = fill_value4

In [21]:
df['food_bev'].isna().sum()

0

In [22]:
df.to_csv('Pro5.csv', index=False)