### Import Required Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/local/lib/python3.10/dist-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

### Load the Data

In [2]:
df = pd.read_csv('./Pro2.csv')
df

,airline,overall,traveller_type,cabin,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Customer_reviews_nlp
0,71,7,Business,Economy Class,4.0,5.0,4.0,4,2,4,1,1
1,71,2,Family Leisure,Economy Class,4.0,1.0,1.0,1,1,1,0,1
2,71,3,Business,Economy Class,1.0,4.0,1.0,3,1,2,0,1
3,71,10,Solo Leisure,Economy Class,4.0,5.0,5.0,5,5,5,1,1
4,71,1,Solo Leisure,Economy Class,1.0,1.0,1.0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65942,72,5,Couple Leisure,Economy Class,NaN,NaN,NaN,1,5,2,0,1
65943,72,5,Couple Leisure,Business Class,NaN,NaN,NaN,3,2,2,0,1
65944,72,4,Solo Leisure,Business Class,NaN,NaN,NaN,2,3,3,0,1
65945,72,7,Couple Leisure,Business Class,NaN,NaN,NaN,2,4,3,0,0
65946,72,4,Solo Leisure,Economy Class,NaN,NaN,NaN,4,1,2,0,1

In [4]:
df.isna().sum()

airline                     0
overall                     0
traveller_type              0
cabin                       0
seat_comfort             5266
cabin_service            5232
food_bev                13339
entertainment               0
ground_service              0
value_for_money             0
recommended                 0
Customer_reviews_nlp        0
dtype: int64

In [5]:
df['seat_comfort'].value_counts()

1.0    15222
4.0    14433
3.0    12139
5.0    10665
2.0     8222
Name: seat_comfort, dtype: int64

In [16]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['seat_comfort'].isna()], size=1054, replace=True)

# filling a constat value
fill_value = 1.0
df.loc[mask, 'seat_comfort'] = fill_value

In [7]:
df['seat_comfort'].isna().sum()

4319

In [8]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['seat_comfort'].isna()], size=1054, replace=True)

# filling a constat value
fill_value1 = 2.0
df.loc[mask, 'seat_comfort'] = fill_value1

In [9]:
df['seat_comfort'].isna().sum()

3389

In [20]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['seat_comfort'].isna()], size=1054, replace=True)

# filling a constat value
fill_value2 = 3.0
df.loc[mask, 'seat_comfort'] = fill_value2

In [11]:
df['seat_comfort'].isna().sum()

2468

In [18]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['seat_comfort'].isna()], size=1054, replace=True)

# filling a constat value
fill_value3 = 4.0
df.loc[mask, 'seat_comfort'] = fill_value3

In [13]:
df['seat_comfort'].isna().sum()

1604

In [14]:
# Generate mask of 380 random positions where NaN values occur
mask = np.random.choice(df.index[df['seat_comfort'].isna()], size=1054, replace=True)

# filling a constat value
fill_value4 = 5.0
df.loc[mask, 'seat_comfort'] = fill_value4

In [21]:
df['seat_comfort'].isna().sum()

0

In [22]:
df.to_csv('Pro3.csv', index=False)