### Import Required Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.10/dist-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

### Load the Data

In [5]:
df = pd.read_csv('./P6.csv')
df

,airline,overall,traveller_type,cabin,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended,Customer_reviews_nlp
0,71,7,Business,Economy Class,4.0,5.0,4.0,4,2,4,1,1
1,71,2,Family Leisure,Economy Class,4.0,1.0,1.0,1,1,1,0,1
2,71,3,Business,Economy Class,1.0,4.0,1.0,3,1,2,0,1
3,71,10,Solo Leisure,Economy Class,4.0,5.0,5.0,5,5,5,1,1
4,71,1,Solo Leisure,Economy Class,1.0,1.0,1.0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65942,72,5,Couple Leisure,NaN,NaN,NaN,NaN,1,5,2,0,1
65943,72,5,Couple Leisure,NaN,NaN,NaN,NaN,3,2,2,0,1
65944,72,4,Solo Leisure,NaN,NaN,NaN,NaN,2,3,3,0,1
65945,72,7,Couple Leisure,NaN,NaN,NaN,NaN,2,4,3,0,0
65946,72,4,Solo Leisure,NaN,NaN,NaN,NaN,4,1,2,0,1

In [9]:
df['traveller_type'].isna().sum()

103

In [10]:
df['traveller_type'].value_counts()

Solo Leisure      24044
Couple Leisure    17277
Family Leisure    12980
Business          11543
Name: traveller_type, dtype: int64

In [24]:
# Generate mask of 103 random positions where NaN values occur
mask = np.random.choice(df.index[df['traveller_type'].isna()], size=26, replace=True)

# filling a constant value
fill_value = "Solo Leisure"
df.loc[mask, 'traveller_type'] = fill_value

In [12]:
df['traveller_type'].isna().sum()

79

In [13]:
df['traveller_type'].value_counts()

Solo Leisure      24068
Couple Leisure    17277
Family Leisure    12980
Business          11543
Name: traveller_type, dtype: int64

In [14]:
# Generate mask of 103 random positions where NaN values occur
mask = np.random.choice(df.index[df['traveller_type'].isna()], size=26, replace=True)

# filling a constant value
fill_value1 = "Couple Leisure"
df.loc[mask, 'traveller_type'] = fill_value1

In [15]:
df['traveller_type'].isna().sum()

55

In [16]:
df['traveller_type'].value_counts()

Solo Leisure      24068
Couple Leisure    17301
Family Leisure    12980
Business          11543
Name: traveller_type, dtype: int64

In [17]:
# Generate mask of 103 random positions where NaN values occur
mask = np.random.choice(df.index[df['traveller_type'].isna()], size=26, replace=True)

# filling a constant value
fill_value2 = "Family Leisure"
df.loc[mask, 'traveller_type'] = fill_value2

In [18]:
df['traveller_type'].isna().sum()

32

In [19]:
df['traveller_type'].value_counts()

Solo Leisure      24068
Couple Leisure    17301
Family Leisure    13003
Business          11543
Name: traveller_type, dtype: int64

In [22]:
# Generate mask of 103 random positions where NaN values occur
mask = np.random.choice(df.index[df['traveller_type'].isna()], size=32, replace=True)

# filling a constant value
fill_value2 = "Business"
df.loc[mask, 'traveller_type'] = fill_value2

In [25]:
df['traveller_type'].isna().sum()

0

In [26]:
df.to_csv('Pro1.csv', index=False)